body {
    background: #fff;
    color: #222;
}

time {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
}


.container-fluid,
.row-fluid { height: inherit; }

.full_post {
    border-bottom: 1px solid #ddd;
    padding: 26px 0 40px 50px;
}

h1,
.expandingArea.text-title pre,
.expandingArea.text-title textarea {
    font-weight: 900;
    font-size: 30px; }


h1, h2, h3, h4, h5 {
    font-weight: 900;
    word-wrap: break-word;
    line-height: 1.3em;
}

.post_container > h1,h2,h3,h4,h5{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-weight: 900;
    font-size: 30px;
}
p {
    color: #1d1d1d; }

a,
a:visited
a:active{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

a:hover {
    color: red;
    text-decoration: none;
}

ul {
    list-style-type: none; }

a:hover {
    color: red; }


textarea {
    font-family: 'Lato', Helvetica, sans-serif;
}

.post_title {
    line-height: 1.2em;
}

img {
    max-width: 100%;
}

code.prettyprint {
    line-height: 1.2em;
}

code {
    font-size: 13px;
    background: #F2F2F2;
    padding: 20px;
    margin: 20px;
    display: block; }


header span {
    color: #888;
    font-weight: 500; }
header span.powered-by {
    font-size: 11px;
}
header ul {
    padding: 0;
    margin: 50px 0; }
header li {
    margin: 0 0 3px 0; }
header li a {
    padding: 2px 0;
    color: #888;
    border-bottom: 2px solid #eee; }
header li a:hover {
    border-color: #777;
    color: #444; }

#admin textarea, #admin pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    width: 100%;
}
#admin .expandingArea {
    position: relative; }
#admin .expandingArea > textarea, #admin .expandingArea > pre {
    background: transparent;
    white-space: pre-wrap;
    word-wrap: break-word; }
#admin .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px; }
#admin .expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none; }
#admin .expandingArea > pre {
    display: none; }
#admin .expandingArea.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden; }
