/* shamelessly stolen from https://github.com/NateW/obtvse/blob/master/app/assets/stylesheets/posts.css.scss */
aside {
  position: relative;
  display: block; }

ul {
  list-style-type: none; }

.hide {
  visibility: hidden;
  height: 1px;
  clip: rect(0 0 0 0);
  position: absolute; }

input, textarea {
  outline: none;
  background: none; }

body {
  background: #fff;
  color: #222; }

body, textarea, pre, input {
    font-family: 'Lato', Helvetica, sans-serif;
    line-height: 1.8em;
    font-size: 15px;
    font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-weight: 900;
  word-wrap: break-word;
  line-height: 1.3em; }

h1,
.expandingArea.text-title pre,
.expandingArea.text-title textarea {
    font-weight: 900;
    font-size: 30px; }

p {
  color: #1d1d1d; }

code.prettyprint {
    line-height: 1.2em;
}


div.bottom_right {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
}

a,
a:visited
a:active {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #ddd; }

a:hover {
  color: red; }

header {
  width: 162px;
  border-right: 1px solid #DDD;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px 40px; }
header span {
  color: #888;
  font-weight: 500; }
header span.powered-by {
  position: absolute;
  bottom: 20px;
  font-size: 11px; }
header ul {
  padding: 0;
  margin: 50px 0; }
header li {
  margin: 0 0 3px 0; }
header li a {
  padding: 2px 0;
  color: #888;
  border-bottom: 2px solid #eee; }
header li a:hover {
  border-color: #777;
  color: #444; }

#container {
  margin-left: 243px;
  position: relative; }
#container time {
  display: block;
  padding: 20px 0 20px 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  border-bottom: 1px solid #ddd; }

#content section {
  padding: 26px 0 40px 50px;
  border-bottom: 1px solid #ddd;
  position: relative; }
#content h1.aside {
  font-size: 18px; }

.show #content section {
  border-bottom: none; }

code {
  font-size: 13px;
  background: #F2F2F2;
  display: block; }


.contain img {
  max-width: 100%;
  height: auto; }

#new_post, .edit_post {
  padding: 88px 0;
  margin: 0 auto; }

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0; }

.markdown::before {
  display: block;
  content: "";
  width: 39px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: -60px;
}

#post_title {
  width: 100%;
  border: none;
  background: none;
  line-height: 45px;
  margin: 0 0 20px 0; }

#post_content {
  border: none;
  width: 100%;
  position: relative;
  margin: 0 0 80px 0; }

.contain, #new_post, .edit_post {
    text-align: left;
    width: 880px;
    left: 15%;
}

#publish-bar {
  position: fixed;
  top: 15%;
  left: 0;
  background: #ffffff;
  color: #000000;
  width: 15%;
  text-align: center;
  padding: 20px 0; }

#publish-bar label {
    color: #000000;
}

#publish-bar .contain {
  margin: 0 5%;
  width: 80%; }

#publish-bar .contain div {
    margin: 5% 5%;
}

#publish-bar input[type=submit], #publish-bar a, .button {
  display: inline-block;
  background: #000;
  padding: 10px;
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.button.secondary {
  padding: 0 5px;
  background: #aaa;
  font-size: 12px; }

#publish-bar input[type=submit]:hover, #publish-bar a:hover, .col h1 a:hover, .col h2 a:hover, .button:hover, .button.secondary:hover {
  background: red;
  color: #fff; }

.button.space-top {
  margin-top: 100px; }

.left {
  float: left; }

.right {
  float: right; }

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  margin: 0;
  padding: 0; }

.actions li {
  display: inline-block;
  margin: 0 10px 0 0; }

label {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin: 0 4px 0 15px; }

#post_draft {
  position: relative;
  margin: 0 20px 0 0; }

.admin-links {
  position: absolute;
  text-align: right;
  top: 18px;
  right: 20px;
  margin: 0; }
.admin-links li {
  float: left;
  margin-left: 6px; }
.admin-links a {
  float: left; }

.notice {
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 6px 0; }

#admin {
  width: 808px;
  margin: 0 auto;
  position: relative; }


#admin #drafts {
  float: left;
  border: 4px solid #000;
  border-top: none;
  background: #fff;
  margin: 0 0 20px 0;
  padding-top: 10px; }
#admin #drafts form {
  margin: 20px 0 20px -20px;
  padding: 0 0 0 20px;
  border-left: 4px solid lightblue; }
#admin #drafts #post_title {
  width: 350px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  border-bottom: 1px solid #ddd; }
#admin #published {
  float: right; }
#admin #published h2 {
  color: #999; }
#admin #published h2 a {
  margin-top: -2px; }
#admin .col h1, #admin .col h2 {
  position: relative;
  text-transform: uppercase; }
#admin .col h1 a, #admin .col h2 a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 2px 10px;
  line-height: 2.7em;
  margin: 5px 0 0; }
#admin .col {
  width: 360px;
  padding: 20px; }
#admin .col h2 a {
  background: #999; }
#admin .col h2 a:hover {
  background: red; }
#admin .col ul {
  padding: 0; }
#admin .col ul li {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  position: relative; }
#admin .col ul li:hover .links {
  visibility: visible; }
#admin .col ul li .links {
  position: absolute;
  right: 0;
  top: 14px;
  background: #fff;
  padding: 1px 8px;
  visibility: hidden; }
#admin .col ul li .links a {
  color: #999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#admin .col ul li .links a:hover {
  color: red; }
#admin .col ul li h3 {
  margin: 0;
  font-size: 16px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden; }
#admin .col ul li h3 a {
  border: none; }
#admin textarea, #admin pre {
    border: 1px solid rgba(128,128,128,.3);
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0; }
#admin .expandingArea {
  position: relative; }
#admin .expandingArea > textarea, #admin .expandingArea > pre {
  background: transparent;
  white-space: pre-wrap;
  word-wrap: break-word; }
#admin .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px; }
#admin .expandingArea.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none; }
#admin .expandingArea > pre {
  display: none; }
#admin .expandingArea.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden; }

.admin-view {
  font-size: 11px;
  margin: 0 10px 2px 0;
  font-weight: 900;
  text-transform: uppercase; }

nav.pagination {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }
