<!doctype html>
<html lang="en-US">
<head>
    <title>Admin Panel</title>

    {% block css %}{% endblock %}

    <link href='//fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}
</head>

<body class="admin">
<div id="admin">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/functions.js') }}" type="text/javascript"></script>
</body>
</html>