{% extends "admin_template.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/_normalize.css') }}" type="text/css" media="screen" rel="stylesheet">
<link href="{{ url_for('static', filename='css/posts.css') }}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block head %}
<style>
    a, a:visited, a:active {
        color: #000;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: red; 
        text-decoration: none;
    }
    a.button{
        color:#fff;
    }
</style>
{% endblock %}

{% block content %}
<div id="drafts" class="col">
    <h1>Drafts <a href="{{ url_for('new_post') }}" class="button">New draft</a></h1>
    <form action="{{ url_for('new_post') }}" method="POST">
        <input name="title" id="post_title" type="text" size=30 placeholder="Start typing an idea here">
    </form>
    <ul>
        {% for draft in drafts %}
            <li id="post-{{ draft.id }}">
                <h3>
                    <a href="{{ url_for('edit', post_id=draft.id) }}">{{ draft.title }}</a>
                        <span class="links">
                            <a href="{{ url_for('delete', post_id=draft.id) }}" class="admin-delete" data-confirm="Are you sure?" rel="nofollow">x</a>
                        </span>
                </h3>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="published" class="col">
    <h2>Published <a href="{{ url_for('index') }}" class="button">Home</a></h2>
    <ul>
        {% for post in posts %}
            <li id="post-{{ post.id }}">
                <h3>
                    <a href="{{ url_for('edit', post_id=post.id) }}">{{ post.title }}</a>
                        <span class="links">
                            <a href="{{ url_for('view_post_slug', slug=post.slug) }}" class="admin-view">view</a>
                            <a href="{{ url_for('delete', post_id=post.id) }}" class="admin-delete" data-confirm="Are you sure?"
                               data-method="delete" rel="nofollow">x</a>
                        </span>
                </h3>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
