{% extends "admin_template.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block head %}
		<script src="{{ url_for('static', filename='js/tabindent.js') }}" type="text/javascript"></script>
        <script>
            window.ondragover = function(e) {e.preventDefault()};
            window.ondrop = function(e) {e.preventDefault(); upload(e.dataTransfer.files); };            

            function upload(files) {
                $("#upload_list").empty();
                $(files).each(function(i,file){
                    if (!file || !file.type.match(/image.*/)) return;

                    var fd = new FormData();
                    fd.append("file", file);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/upload");
                    xhr.onload = function() {
                        console.log(xhr.responseText);
                        var resp = JSON.parse(xhr.responseText);
                        $("#upload_list").append("<p><a class='uploadUrl' target='_blank' href='" + resp.url + "'>" + resp.name + "</a></p>")
                    };
                    xhr.send(fd);
                })
            }

            $(document).ready(function(){
                $("#upload_list").on('click', '.uploadUrl', function(ev){
                    $('#post_content').insertAtCaret('![](' + $(this).attr('href') + ')');
                    ev.preventDefault();
                })
            })

             $.fn.extend({
                insertAtCaret: function(myValue){
                    var obj;
                    if( typeof this[0].name !='undefined' ) obj = this[0];
                    else obj = this;

                    if ($.browser.msie) {
                        obj.focus();
                        sel = document.selection.createRange();
                        sel.text = myValue;
                        obj.focus();
                    }else if ($.browser.mozilla || $.browser.webkit) {
                        var startPos = obj.selectionStart;
                        var endPos = obj.selectionEnd;
                        var scrollTop = obj.scrollTop;
                        obj.value = obj.value.substring(0, startPos)+myValue+obj.value.substring(endPos,obj.value.length);
                        obj.focus();
                        obj.selectionStart = startPos + myValue.length;
                        obj.selectionEnd = startPos + myValue.length;
                        obj.scrollTop = scrollTop;
                    } else {
                        obj.value += myValue;
                        obj.focus();
                    }
                }
            })




        </script>


    {% if post.draft %}
        <script type="text/javascript">
            function SaveTick(){
                issueSaveAjax({{ post.id }}, false);
                setTimeout("SaveTick()", 4000);
            }
            $(document).ready(function(){
                setTimeout("SaveTick();", 10000);
            })
        </script>
    {% endif %}


        <style>
        .sidebar-nav-fixed {
            position:fixed;
        }

        div#drop-upload{
            font-size: 13px;
            margin-left: 0px;
            color: #1e2221;
            width: 100%;
            padding: 1px;
        }
        div#drop-upload input{
            font-size: 13px;
        }

        #navbar{
            position: fixed;
            bottom: 0; left: 20px;
            width: 100%;
            background: #fff;
        }

        #publish-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            background: #222;
            width: 100%;
            text-align: center;
            padding-top: 15px;
            padding-right: 0px;
            padding-bottom: 15px;
            padding-left: 0px;
            padding-bottom: 0px;
            color: #fff;
            font-size: 14px;
        }

        #auto-save{
            color: #fff;
        }
        textarea {
            font-family: monospace;
            font-size: 14px;
        }

        .bigModal {
            width:900px;
            margin-left:-33%;
        }
        .modal-body {
            max-height: 700px;
            padding-top: 0px;
        }
        #markdown-help-img{
            padding-right: 10px;
            float: left;
        }
        #markdown-help-title{
            margin: 1px;
        }
        p{
            margin: 10px;
        }
        #help-title{
            margin-left: 35px;
        }
    </style>

{% endblock %}


{% block content %}
    <div class="container-fluid">
            <form accept-charset="UTF-8" action="" class="edit_post" id="edit_post" method="post">
                <div class="post_container">
                    <div class="span10" style="padding-top: 60px ;">
                            <div class="row">
                                <div class="span10 offset1">
                                    <div class="expandingArea text-title">
                                        <pre><span></span><br></pre>
                                        <div class="post_header">
                                            <textarea class="post_title" id="post_title" name="post_title" placeholder="Title here" rows="2">{{ post.title }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="span10 offset1">
                                    <div class="expandingArea text-content" id="edit_post_area">
                                        <pre><span></span><br></pre>
                                        <textarea cols="40" id="post_content" name="post_content" class="tabIndent" placeholder="Write post here" rows="20">{{ post.text }}</textarea>
                                    </div>
                                </div>
                            </div>
                     </div>
                 </div>

                <div id="publish-bar" class="center">
                    <div class="span1"></div>
                    <div class="span1">
                        <a class="btn btn-inverse" href="{{ url_for("admin") }}">Admin</a>
                    </div>
                    <div class="span1">
                        <a class="btn btn-inverse" href="{{ url_for('delete', post_id=post.id, next="admin") }}">Delete</a>
                    </div>
                    <div class="span1">
                        <label id="auto-save" for="post_draft">Draft</label>
                        <input name="post_draft" type="hidden" value="0" /><input id="post_draft" name="post_draft" type="checkbox" value="1" {% if post.draft %}checked{% endif %} />
                    </div>


                    {% if post.draft %}
                        <div class="span1">
                            <a class="btn btn-inverse" href="{{ url_for('preview', post_id=post.id) }}" target="previewPage" onclick="issueSaveAjax({{ post.id }})">Preview</a>
                        </div>
                    {% else %}
                        <div class="span2">
                            <a class="btn btn-inverse" href="{{  url_for('view_post_slug', slug=post.slug) }}" target="_blank">View live</a>
                        </div>
                    {% endif %}


                    <div class="span1">
                        <button class="btn btn-inverse" onclick="$('#edit_post').submit()">Save</button>
                    </div>

                    <div class="span3">
                        <div id="drop-upload" class=" well well-small" style="word-wrap: break-word;">
                            Drag files here to upload. Click to insert.
                            <input style="visibility: collapse; width: 0px;" type="file" onchange="upload(this.files[0])">
                            <div id="upload_list"></div>
                        </div>
                    </div>

                    <a href="#markdown-help" role="button" class="btn" data-toggle="modal"><img src="{{ url_for('static', filename='39x24-solid.png') }}"></a>
                </div>
            </form>
    </div>


    <div id="markdown-help" class="bigModal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="markdown-help-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="markdown-help-label"><img id="markdown-help-img" src="{{ url_for('static', filename='66x40-solid.png') }}"> <h1 id="markdown-help-title">Cheat Sheet</h1></h3>
        </div>
        <div class="modal-body">
   
            <div class="row">
                <div class="span3">
                    <h4>Headers</h4>
                    <div class="well well-small">
                        <p> # This is an &lt;h1&gt; tag </p>
                        <p>## This is an &lt;h2&gt; tag </p>
                        <p>###### This is an &lt;h6&gt; tag </p>
                    </div>

                    <h4>Text styles</h4>
                    <div class="well well-small">
                        <p>*This text will be italic*</p>
                        <p>_This will also be italic_</p>
                        <p>**This text will be bold**</p>
                        <p>__This will also be bold__</p>

                        <p>*You **can** combine them*</p>
                    </div>
                </div>
                <div class="span3">
                    <h4>Lists - Unordered</h4>
                    <div class="well well-small">
                        <p>* Item 1</p>
                        <p>* Item 2</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;* Item 2a</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;* Item 2b</p>
                    </div>

                    <h4>Lists - Ordered</h4>
                    <div class="well well-small">
                            <p>1. Item 1</p>
                            <p>2. Item 2</p>
                            <p>3. Item 3</p>
                           <p>&nbsp;&nbsp;&nbsp;&nbsp;* Item 3a</p>
                           <p>&nbsp;&nbsp;&nbsp;&nbsp;* Item 3b</p>
                    </div>
                </div>
                <div class="span3">
                    <h4>Images</h4>
                    <div class="well well-small">
                        <p>![Markdown Logo](/img/logo.png)</p>
                        <p>Format: ![Alt Text](url)</p>
                    </div>
                    <h4>Links</h4>
                    <div class="well well-small">
                        <p>[GitHub](http://github.com)</p>
                    </div>
                    <h4>Blockquotes</h4>
                    <div class="well well-small">
                        <p>As somone said:</p>
                        <p>&gt; First, solve the problem. </p>
                        <p>&gt; Then, write the code.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span3">
                    <h4>Syntax highlighting with <a href="http://pythonhosted.org/Markdown/extensions/code_hilite.html">CodeHilite</a></h4>
                    <div class="well well-small">
                        <p>~~~python</p>
                        <p>print 'hello world'</p>
                        <p>~~~</p>
                    </div>
                </div>
                <div class="span3">
                    <h4>Miscellaneous</h4>
                    <div class="well well-small">
                        <p>[TOC]</p>
                        <p>Will generate a table of contents with links</p>
                    </div>
                </div>
                <div class="span3">
                    <h4>More info</h4>
                    <div class="well well-small">
                        <p><a href="http://pythonhosted.org/Markdown/extensions/code_hilite.html">CodeHilight</a></p>
                        <p><a href="http://pythonhosted.org/Markdown/extensions/fenced_code_blocks.html">Fenced Code Blocks</a></p>
                        <p><a href="http://pythonhosted.org/Markdown/extensions/toc.html">Table of contents</a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

	<script>
		tabIndent.renderAll();
	</script>
{% endblock %}
