{% extends "admin_template.html" %}

{% block head %}
    {% if post.draft %}
        <script type="text/javascript">
            function SaveTick(){
                issueSaveAjax({{ post.id }}, false);
                setTimeout("SaveTick()", 10000)
            }
            $(document).ready(function(){
                setTimeout("SaveTick();", 10000);
            })
        </script>
    {% endif %}
{% endblock %}

{% block content %}

        <form accept-charset="UTF-8" action="" class="edit_post" id="edit_post_{{ post.id }}" method="post">
            <div class="contain">

                <div class="expandingArea text-title">
                    <textarea cols="40" id="post_title" name="post_title" placeholder="Title here" rows="1">{{ post.title }}</textarea>
                </div>
                <fieldset class="markdown">
                    <div class="expandingArea text-content">
                        <textarea cols="40" id="post_content" name="post_content" placeholder="Write post here" rows="20">{{ post.text }}</textarea>
                    </div>
                </fieldset>
            </div>
            <div id="publish-bar">
                <div class="contain">
                    <div class="left">
                        <a href="{{ url_for('admin') }}">&laquo; Admin</a>
                        <a href="{{ url_for('delete', id=post.id, next="admin" ) }}" class="delete-bar" data-confirm="Are you sure?" rel="nofollow">Delete</a>
                    </div>
                    <div class="right">
                        <label for="post_draft">Draft</label>
                        <input name="post_draft" type="hidden" value="0" /><input id="post_draft" name="post_draft" type="checkbox" value="1" {% if post.draft %}checked{% endif %} />
                        {% if post.draft %}
                            <a href="#" onclick="issueSaveAjax({{ post.id }}, true); return false;" target="_blank">Preview</a>
                        {% else %}
                            <a href="{{  url_for('view_post_slug', slug=post.slug) }}" target="_blank">View live</a>
                        {% endif %}
                        <input name="commit" type="submit" value="Save" target="_blank"/>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}
