{% extends "layout.html" %}

{% block title %}{{ config.BLOG_TITLE }}{% endblock %}

{% block content %}

    {% for post in posts %}
        <section id="post-{{ post.id }}">
            <div class="post_container">
                <div class="post_header">
                    <h1><a href="{{ url_for('view_post_slug', slug=post.slug, pid=current_page) }}">{{ post.title }}</a></h1>
                </div>
                <br/>
                {{ post.render_content()|safe }}
            </div>
        </section>
    {% endfor %}

    <ul class="pager">
        {% if current_page > 0 %}
            <li class="previous">
                <a href="{{ url_for("index", page=current_page - 1) }}">&larr; Previous</a>
            </li>
        {% endif %}

        {% if is_more %}
            <li class="next">
                <a href="{{ url_for("index", page=current_page + 1) }}">Next  &rarr;</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}