{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}

{% block content %}

    {% for post in posts %}
        <div class="row-fluid">
            <div class="span12">
                <section id="post-{{ post.id }}"
                {% if config.get('POST_CONTENT_ON_HOMEPAGE',True) %}class="full_post"{% endif %}>
                    <div class="post_header">
                        <h1><a href="{{ url_for('view_post_slug', slug=post.slug) }}">{{ post.title }}</a></h1>
                    </div>

                    {% if config.get('POST_CONTENT_ON_HOMEPAGE',True) %}
                        <br/>
                        {{ post.render_content()|safe }}
                    {% else %}
                        <p style="color: #999;">Posted: {{ post.created_at.strftime('%B %d, %Y') }}</p>
                    {% endif %}
                </section>
            </div>
        </div>

    {% endfor %}

    <ul class="pager">
        {% if current_page > 0 %}
            <li class="previous">
                <a href="{{ url_for("index", page=current_page - 1) }}">&larr; Previous</a>
            </li>
        {% endif %}

        {% if is_more %}
            <li class="next">
                <a href="{{ url_for("index", page=current_page + 1) }}">Next  &rarr;</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
