<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if config.USE_FAVICON %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% endif %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ url_for('feed') }}">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/prettify.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/code_styles.css') }}" rel="stylesheet" type="text/css">
        <link href='//fonts.googleapis.com/css?family={{ config.FONT_NAME|replace(' ','+') }}:400,900' rel='stylesheet' type='text/css'>
        
        <style>
            body {
                padding-top: 20px;
            }

            .sidebar-nav-fixed {
                position:fixed;
            }
            
            .post_container > p {
                left: 15%;
                font-family: "{{ config.FONT_NAME }}", sans-serif;
                line-height: 1.8em;
                font-size: 15px;
                font-weight: 400;
            }
            
            body, pre, input {
                font-family: "{{ config.FONT_NAME }}", sans-serif;
                line-height: 1.8em;
                font-size: 15px;
                font-weight: 400; }
        </style>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
        <script src="{{ url_for('static', filename='js/prettify.js') }}" type="text/javascript"></script>
        {% block title %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body onload="prettyPrint()">
        <div class="container-fluid">

            <div class="span2 sidebar-nav-fixed">
                <div class="hidden-phone">
                    <header>
                        <h1><a href="{{ url_for('index') }}">{{ config.BLOG_TITLE }}</a></h1>
                        <br />
                        <span>{{ config.BLOG_TAGLINE }}</span>
                        <ul>
                            {% if config.GITHUB_USERNAME %}
                                <li><p><a href="https://github.com/{{ config.GITHUB_USERNAME }}/">Github</a></p></li>
                            {% endif %}
                            {% if config.CONTACT_EMAIL %}
                                <li><p><p><a href="mailto:{{ config.CONTACT_EMAIL }}?subject:Howdy">Email me</a></p></li>
                            {% endif %}
                            {% if config.TWITTER_HANDLE %}
                                <li><p><a href="https://twitter.com/{{ config.TWITTER_HANDLE }}/">Twitter</a></p></li>
                            {% endif %}
                            {% if config.GOOGLE_PLUS_PROFILE %}
                                <li><p><a href="https://plus.google.com/{{ config.GOOGLE_PLUS_PROFILE }}/posts">Google+</a></p></li>
                            {% endif %}
                            <li>
                            {% if config.USE_SUBTOME %}
                                <p><a onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()"
                                    href="#">Subscribe</a>
                            {% elif config.USE_ADDTOANY %}
                                <p>
                                <!-- AddToAny BEGIN -->
<a id="subscribe_button"
   class="a2a_dd"
   href="http://www.addtoany.com/subscribe?linkurl={{ url_for('feed', _external=True)|urlencode }}&amp;linkname=">Subscribe</a>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.linkurl = "{{ url_for('feed', _external=True) }}";
a2a_config.onclick = 1;
</script>
<script type="text/javascript" src="//static.addtoany.com/menu/feed.js"></script>
<!-- AddToAny END -->
                                </p>
                            {% endif %}
                            </li>

                            <li>
                                <p><a href="{{ url_for('feed') }}">RSS feed</a></p>
                            </li>

                            {% if is_admin %}
                                <li>
                                    <p><a href="{{ url_for('admin') }}">Admin</a></p>
                                </li>
                            {% endif %}

                            {% block sidebar %}{% endblock %}
                        </ul>
                        <span class="powered-by">
                          Powered by <a href="http://github.com/orf/simple">Simple</a>,
                            inspired by <a href="https://github.com/NateW/obtvse">Obtvse</a>
                        </span>
                    </header>
                </div>
            </div>


            <div class="hidden-phone">
                <div class="span2"></div>
                <!--Hack! The position: fixed on the sidebar div screws with stuff.
                    I sit here to maintain order and positioning.-->
            </div>

            <div class="hidden-phone">
                <div class="span1">
                    <!--Divider!!-->
                </div>
            </div>

            <div class="span8">
                <div class="row-fluid">
                    <div class="span12">
                        <time>
                            {% if post %}
                                Posted {{ post.created_at.strftime('%B %d, %Y') }}
                                {% if post.created_at.strftime('%B %d, %Y') != post.updated_at.strftime('%B %d, %Y') %}
                                    , Updated {{ post.updated_at.strftime('%B %d, %Y') }}
                                {% endif %}
                            {% else %}
                                <div class="visible-phone">
                                    <h3><a href="{{ url_for('index') }}">{{ config.BLOG_TITLE }}</a></h3>
                                    <span>{{ config.BLOG_TAGLINE }}</span>
                                </div>
                                <div class="hidden-phone">
                                    {{ now.strftime('%B %d, %Y') }}
                                </div>
                            {% endif %}
                        </time>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="visible-phone"><br/></div>
                        <div class="hidden-phone"><hr/></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% if config["ANALYTICS_ID"]  %}
            <script>
                var _gaq=[['_setAccount','{{ config["ANALYTICS_ID"] }}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
                // Track page view times more accurately
                (function (tos) {
                  window.setInterval(function () {
                    tos = (function (t) {
                      return t[0] == 50 ? (parseInt(t[1]) + 1) + ':00' : (t[1] || '0') + ':' + (parseInt(t[0]) + 30);
                    })(tos.split(':').reverse());
                    window.pageTracker ? pageTracker._trackEvent('Time', 'Log', tos) : _gaq.push(['_trackEvent', 'Time', 'Log', tos]);
                  }, 30000);
                })('00');
            </script>
        {% endif %}
    </body>
</html>
