<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
        <link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet" type="text/css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js" type="text/javascript"></script>
        {% block head %}{% endblock %}
    </head>
    <body onload="prettyPrint()">
        <div class="container-fluid">
            <div class="sidebar">
                <div class="span2">
                    <header>
                        <h1><a href="{{ url_for('index') }}">{{ config.BLOG_TITLE }}</a></h1>
                        <br />
                        <span>{{ config.BLOG_TAGLINE }}</span>
                        <ul>
                            {% if config.GITHUB_USERNAME %}
                                <li><p><a href="https://github.com/{{ config.GITHUB_USERNAME }}/">Github</a></p></li>
                            {% endif %}
                            {% if config.CONTACT_EMAIL %}
                                <li><p><p><a href="mailto:{{ config.CONTACT_EMAIL }}?subject:Howdy">Email me</a></p></li>
                            {% endif %}
                            {% if config.TWITTER_HANDLE %}
                                <li><p><a href="https://twitter.com/{{ config.TWITTER_HANDLE }}/">Twitter</a></p></li>
                            {% endif %}
                            {% if config.GOOGLE_PLUS_PROFILE %}
                                <li><p><a href="https://plus.google.com/{{ config.GOOGLE_PLUS_PROFILE }}/posts">Google+</a></p></li>
                            {% endif %}

                            <li>
                                <p><a href="{{ url_for('feed') }}">Feed</a></p>
                            </li>

                            {% if is_admin %}
                                <li>
                                    <p><a href="{{ url_for('admin') }}">Admin</a></p>
                                </li>
                            {% endif %}

                            {% block sidebar %}{% endblock %}
                        </ul>
                        <span class="powered-by">
                          Powered by <a href="http://github.com/orf/simple">Simple</a>,
                            inspired by <a href="https://github.com/NateW/obtvse">Obtvse</a>
                        </span>
                    </header>
                </div>
            </div>
            <div class="content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="row">
                            <div class="span9"><time>
                                {% if post %}
                                    Posted {{ post.created_at.strftime('%B %d, %Y') }}
                                    {% if post.created_at.strftime('%B %d, %Y') != post.updated_at.strftime('%B %d, %Y') %}
                                        , Updated {{ post.updated_at.strftime('%B %d, %Y') }}
                                    {% endif %}
                                {% else %}
                                    {{ now.strftime('%B %d, %Y') }}
                                {% endif %}
                            </time></div>
                        </div>
                        <div class="row">
                            <div class="span9">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if config["ANALYTICS_ID"]  %}
            <script>
                var _gaq=[['_setAccount','{{ config["ANALYTICS_ID"] }}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endif %}
    </body>
</html>