<!doctype html>
<html lang="en-US">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='css/_normalize.css') }}" type="text/css" media="screen" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/posts.css') }}" type="text/css" media="screen" rel="stylesheet">
        <meta name="author" content="{{ config.AUTHOR }}">
        <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
        <link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet" type="text/css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js" type="text/javascript"></script>
    </head>

    <body style="margin:10px 50px;" onload="prettyPrint()">
        <div>
            <div id="content">
                    <div class="post contain">
                        <h1>{{ post.title }}</h1>
                        {{ post.render_content()|safe }}
                    </div>

            </div>
        </div>
    </body>
</html>