{% extends "layout.html" %}

{% block title %}<title>{{ post.title }} - {{ config.BLOG_TITLE }}</title>{% endblock %}

{% block head %}
    <script type="text/javascript">
    function refreshPreviewPage(){
        window.location.reload();
    }
    </script>
{% endblock %}

{% block sidebar %}
    {% if is_admin %}
        <br />
        <li>
            <p>
                <a  href="{{ url_for('edit', post_id=post.id) }}">Edit post</a>
            </p>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="post-{{ post.id }}">
        <div class="post_container">
            <div class="post_header">
                <h1>{{ post.title }}</h1>
            </div>
            <br/>
            {{ post.render_content()|safe }}
        </div>

        <br/>
        <a class="btn btn-inverse" href="{{ url_for('index', page=pid) }}">Back to Blog</a>
        <br/>

        {% if config.DISQUS_SHORTNAME and not preview %}
            <br/><br/>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '{{ config.DISQUS_SHORTNAME }}';
                var disqus_identifier = '{{ post.id }}';
                var disqus_url = '{{ url_for('view_post', post_id=post.id, _external=True) }}';
                
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}

    </section>
{% endblock %}
