{% extends "layout.html" %}

{% block title %}<title>{{ post.title }} - {{ config.BLOG_TITLE }}</title>{% endblock %}

{% block sidebar %}
    {% if is_admin %}
        <br />
        <li>
            <p>
                <a  href="{{ url_for('edit', post_id=post.id) }}">Edit post</a>
            </p>
        </li>
    {% endif %}
    <br />
    Views: {{ post.views }}
{% endblock %}

{% block content %}
    <section id="post-{{ post.id }}">
        <div class="post_container">
            <div class="post_header">
                <h1>{{ post.title }}</h1>
            </div>
            <br/>
            {{ post.render_content()|safe }}
            {% if is_admin %}

            {% endif %}
        </div>

        <br/>
        <a class="btn btn-inverse" href="{{ url_for('index', page=pid) }}">Back to Blog</a>
        <br/>
    </section>
{% endblock %}
